html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #95a3b3;
  color: #222222;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  width: 300px;
}
.heading {
  margin-top: 300px;
}
#age {
  display: none;
}
